<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">
        {{ i + 1 }}. 
      </span>
      <span class="noticia-source-name">
        {{ noticia.source.name }}
      </span>
      <div class="noticia-more">
        <ion-button fill="clear" (click)="moreOptions()">
          <ion-icon style="font-size: 20px;" slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
      
    </ion-card-subtitle>
    <ion-card-title (click)="openNew()">{{ noticia.title }}</ion-card-title>
  </ion-card-header>
  <ion-img *ngIf="noticia.urlToImage"
    [src]="noticia.urlToImage"
    (click)="openNew()"></ion-img>
    <ion-card-content>
      {{ noticia.description }}
    </ion-card-content>
</ion-card>